body {
	margin: 0;
}
.nav {
	display: block;
}
.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: antiquewhite;
	list-style: none;
}
nav li {
	padding: 5px 5px;
}
nav a {
	text-decoration: none;
	color: inherit;
}
nav li:hover {
	background-color: rgb(254, 140, 0);
	cursor: pointer;
	text-decoration: underline;
}

/* 
.main {
	background-color: blueviolet;
	width: 80%;
	height: 90%;
	float: right;
}

.foot {
	background-color: brown;
	height: 30px;
	clear: both;
} */
